
        body{
            background-color: silver;
        }
        .myHeader{
            font-family: fantasy;
            font-size: 100px;
            color: yellow;
            text-align: center;
           border-style: solid;
           border-color: royalblue;
           border-radius: 30px;
           border-width: 20px;
           background: url("https://images.ctfassets.net/cnu0m8re1exe/1VdozeI20jE6FH67EkJnIL/4c0ccc6b3b87ff6407fb940c79a70cde/Ocean-Blue.jpg?w=650&h=433&fit=fill");
           background-size: cover;
        
        }
        
.flex-container{
    display:flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: double;
    border-color: lightcoral;
    border-radius: 30px;
    background-color: lightskyblue;
    width: fit-content;
    
  
}
  #flexP{
      font-size: 70px;
      color: violet;
      font-family: fantasy;
      border-style: solid;
      border-color: brown;
     background-color:green;
     margin:10px;
  }  
  
  #BBY{
      font-size: 80px;
      font-style: italic;
  }
.box{
    height: 150px;
    width: 50px;
    background-color: red;
    padding-top: 20em;
    padding-right: 20em;
    border-radius: 20px;
    background: url(https://ichef.bbci.co.uk/news/1024/cpsprodpb/151AB/production/_111434468_gettyimages-1143489763.jpg);
background-position: center;
background-size:cover ;
}
.list{
    font-size: xx-large;
    font-family: fantasy;
    font-weight: 100;
    color: #ffcf00;
}
    